<!DOCTYPE html>
<html>
<head>
<title>Selectest</title>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
</style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Selectest</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'index_view' %}">List of files</a></li>
              <li><a href="{% url 'upload_view' %}">Upload</a></li>
              <li><a href="{% url 'admin:index' %}">Admin area</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    {% block content %}
    {%endblock%}
    </div>
</body>
</html>