{% extends "scs/base.html" %}
{% block content %}
<h1>List of files</h1>
<table class="table table-bordered">
<thead>
    <th>File</th>
    <th>Container</th>
    <th>Download url</th>
    <th>Action</th>
</thead>
<tbody>
{% for f in storage_files %}
<tr>
<td>{{ f.remote_file }}</td>
<td>{{ f.container_name }}</td>
<td><a href="{{ f.download_url }}" target="_blank">{{ f.download_url }}</a></td>
<td><a href="{% url 'delete_view' id=f.id%}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}