{% extends "scs/base.html" %}
{% block content %}
<h1>Upload a file</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Upload" />
</form>
{% endblock %}